body{
    background: rgb(172, 172, 172);
}

.main{
    width: 500px;
    min-height: 500px;
    border: solid 1px #eee;
    border-radius: 3px;
    text-align: center;
    
    padding : 20px;
    margin: 20px auto;

    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
.title{
    font-size: 30px;
}
.div{
    width: 400px;
    height: 300px;
    box-shadow:inset 1px 1px 20px rgba(0, 0, 9 , 0.9);
    margin: inherit;
    padding : inherit;
    background-color: rgb(121, 241, 235);
    text-align: center;
}
.input,.push{
    padding: 10px;
    border: solid 1px rgb(23,23,35)
}